@model SmartRegistry.Web.Models.Student

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            @{
                ViewData["Title"] = "Details";
            }

            <h2>Details</h2>

            <div>
                <h4>Student</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.SensorId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.SensorId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AccountId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AccountId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FirstName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Age)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Age)
                        @*@{
                            //var now = DateTime.Today;
                            //int age = now.Year - Model.DOB.Year;
                            //if (Model.DOB > now.AddYears(-age)) age--;

                            var days = (DateTime.Today - Model.DOB).TotalDays;
                            var years = days / 365.25;
                            
                            <span> @years </span>
                        }*@
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DOB)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DOB)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsComplete)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsComplete)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Gender)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Gender)
                    </dd>
                    @*<dt>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedBy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastUpdatedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastUpdatedBy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.LastUpdatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LastUpdatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.IsDeleted)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.IsDeleted)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DeletedBy)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DeletedBy)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.DeletedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.DeletedAt)
                    </dd>*@
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
        <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        @{
            <i>@string.Format("{0} © SmartRegistry", DateTime.Now.Year)</i>
        }

    </footer>

</div>