@using Microsoft.AspNetCore.Identity
@using SmartRegistry.Web.Models
@model SmartRegistry.Web.ViewModels.CoursesViewModels.CourseViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*
    @{
        ViewData["Title"] = "Details";
    }

    <h2>Details</h2>

    <div>
        <h4>Course</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CreatedAt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastUpdatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastUpdatedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastUpdatedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastUpdatedAt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DeletedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeletedBy)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DeletedAt)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Department)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Department.Code)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>*@

<link href="~/lib/fullcalendar.io/js/fullcalendar-3.5.0/fullcalendar.min.css" rel="stylesheet" />
<link href="~/lib/fullcalendar.io/js/fullcalendar-3.5.0/scheduler.min.css" rel="stylesheet" />

@section Scripts {
    <script src="~/lib/fullcalendar.io/js/fullcalendar-3.5.0/jquery.min.js"></script>
    <script src="~/lib/fullcalendar.io/js/fullcalendar-3.5.0/moment.min.js"></script>
    <script src="~/lib/fullcalendar.io/js/fullcalendar-3.5.0/fullcalendar.min.js"></script>
    <script src="~/lib/fullcalendar.io/js/fullcalendar-3.5.0/theme-chooser.js"></script>
    <script src="~/lib/fullcalendar.io/js/fullcalendar-3.5.0/scheduler.min.js"></script>

    <script type="text/javascript">
        $(function () {
            let calendar = $("#calendar").fullCalendar({
                weekends: true, //false // will hide Saturdays and Sundays
                dayClick: function (date, jsEvent, view, resourceObj) {

                    alert(`Date: ${date.format()}`);

                    //alert('Date: ' + date.format());
                    //alert('Resource ID: ' + resourceObj.id);
                    //console.log('Resource ID: ' + resourceObj.id);
                },
                //addResource: {
                //    id: 'e',
                //    title: 'Room E'
                //},
                businessHours: true
            });

            //var calendar = $('#calendar').fullCalendar('getCalendar');

            //calendar.on('dayClick', function(date, jsEvent, view) {
            //    console.log('clicked on ' + date.format());
            //});
        });
    </script>
}


    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container">

                @*<div class="row">
                    <div class="panel-group">
                        <div class="panel-primary">
                            <div class="panel-heading">
                                <h2 class="text-center">@Model.Course.Name Department</h2>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="panel-primary">
                                                <div class="panel-heading">
                                                    <h2 class="text-center">Semester Schedule</h2>
                                                </div>
                                                <div class="panel-body">
                                                    <div id="calendar"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="panel-primary">
                                                <div class="panel-heading">
                                                    <h2 class="text-center">Announcement</h2>
                                                </div>
                                                <div class="panel-body">
                                                    @if (Model.Announcement != null && Model.Announcement.Any())
                                                    {
                                                        <ul class="list-group list-group-flush">
                                                            @foreach (var announcement in Model.Announcement.OrderBy(a => a.CreatedAt.TimeOfDay))
                                                            {
                                                                <li class="list-group-item">
                                                                    <div>
                                                                        <h4>
                                                                            @announcement.Title<span class="pull-right">
                                                                                @if (SignInManager != null && SignInManager.IsSignedIn(this.User))
                                                                                {
                                                                                    var user = await SignInManager.UserManager.FindByIdAsync(announcement.CreatedBy);
                                                                                    <i>@user</i>
                                                                                }
                                                                            </span>
                                                                        </h4>
                                                                        <p class="col-md-12">@announcement.Message </p>
                                                                        <a class="btn"></a> <i class="pull-right">@announcement.CreatedAt.ToShortDateString()</i>
                                                                    </div>
                                                                </li>
                                                            }
                                                        </ul>

                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-md-offset-1">
                                        <div class="row">
                                            <div class="panel-primary">
                                                <div class="panel-heading">
                                                    <h2 class="text-center">Subject @Model.Course.Name offers</h2>
                                                </div>
                                                <div class="panel-body">
                                                    <div class="row">
                                                        @if (Model.Subject != null && Model.Subject.Any())
                                                        {
                                                            <ul class="list-group list-group-flush">
                                                                @foreach (var subject in Model.Subject.OrderBy(d => d.Name))
                                                                {
                                                                    <li class="list-group-item">
                                                                        <a href="/Subject/Details/@subject.Id">@subject.Name (@subject.Code)</a>
                                                                    </li>
                                                                }
                                                            </ul>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>*@
            <div class="panel-group">
                <div class="panel-default">
                    <div class="panel-heading">
                        <h2 class="text-center">@Model.Course.Name Department</h2>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card-box">
                                                    <div class="inbox-widget slimscroll-alt" style="min-height: 302px;">
                                                        <h4 class="header-title m-t-0 m-b-30">Semester Schedule</h4>
                                                        <hr />
                                                        <div id="calendar"></div>
                                                    </div>

                                                </div> <!-- end card -->
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card-box">
                                                    <div class="inbox-widget slimscroll-alt" style="min-height: 302px;">

                                                        <div class="row">
                                                            <h4 class="header-title m-t-0 m-b-30">Announcements</h4>
                                                            <hr />

                                                            @if (Model.Announcements != null && Model.Announcements.Any())
                                                            {
                                                                <ul class="list-group list-group-flush">
                                                                    @foreach (var announcement in Model.Announcements.OrderBy(a => a.CreatedAt.TimeOfDay))
                                                                    {
                                                                        <a href="#">
                                                                            <div class="inbox-item">
                                                                                <div class="inbox-item-img"><img src="~/images/users/avatar-1.jpg" class="img-circle" alt=""></div>
                                                                                @if (SignInManager != null && SignInManager.IsSignedIn(this.User))
                                                                                {
                                                                                    var user = await SignInManager.UserManager.FindByIdAsync(announcement.CreatedBy);
                                                                                    <p class="inbox-item-author">@user</p>
                                                                                }

                                                                                <p class="inbox-item-text">@announcement.Message</p>
                                                                                <p class="inbox-item-date">@announcement.CreatedAt.ToShortDateString()</p>
                                                                            </div>
                                                                        </a>
                                                                    }
                                                                </ul>
                                                            }
                                                            else
                                                            {
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <h6 class="text-center">There are no announcements available at the moment. Welcome to the @Model?.Course.Name.</h6>
                                                                    </div>
                                                                </div>
                                                            }
                                                        </div>

                                                    </div>

                                                </div> <!-- end card -->
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="card-box">
                                            <h4 class="header-title m-t-0 m-b-30">Subjects @Model.Course.Name offers</h4>
                                            <hr />

                                            <div class="inbox-widget slimscroll-alt" style="min-height: 302px;">

                                                @if (Model.Subjects != null && Model.Subjects.Any())
                                                {
                                                    <ul class="list-group list-group-flush">
                                                        @foreach (var subject in Model.Subjects.OrderBy(f => f.Name))
                                                        {
                                                            <p class="inbox-item-text">
                                                                <a href="/Subjects/Details/@subject.SubjectId">
                                                                    <div class="inbox-item">
                                                                        @subject.Name (@subject.Code)
                                                                    </div>
                                                                </a>
                                                            </p>
                                                        }
                                                    </ul>
                                                }
                                                else
                                                {
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h6 class="text-center">There are no subjects available. Continue visiting @ViewData["Institution"]'s platform to get updates.</h6>
                                                        </div>
                                                    </div>
                                                }
                                            </div>

                                        </div> <!-- end card -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div>
                    <a asp-action="Index" class="btn btn-default">Back to List</a>
                </div>

            </div>
            <!-- container -->

        </div> <!-- content -->

        <footer class="footer text-right">
            @{
                <i>@string.Format("{0} © SmartRegistry", DateTime.Now.Year)</i>
            }

        </footer>

    </div>