@using Microsoft.AspNetCore.Identity
@using SmartRegistry.Web.Models
@model SmartRegistry.Web.ViewModels.DepartmentViewModels.DepartmentViewModel

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

                <div class="panel-group">
                    <div class="col-md-12">
                        <div class="panel-default">
                            <div class="row">
                                <h2 class="well text-center">@Model?.Department.Name (@Model?.Department.Code)</h2>
                                <p class="text-center">@Model?.Description</p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="card-box">
                                                <h4 class="header-title m-t-0 m-b-30">Announcements</h4>
                                                <hr />

                                                <div class="inbox-widget slimscroll-alt" style="min-height: 302px;">

                                                    @if (Model.Announcements != null && Model.Announcements.Any())
                                                    {
                                                        <ul class="list-group list-group-flush">
                                                            @foreach (var announcement in Model.Announcements.OrderBy(a => a.CreatedAt.TimeOfDay))
                                                            {
                                                                <a href="#">
                                                                    <div class="inbox-item">
                                                                        <div class="inbox-item-img"><img src="assets/images/users/avatar-1.jpg" class="img-circle" alt=""></div>
                                                                        @if (SignInManager != null && SignInManager.IsSignedIn(this.User))
                                                                        {
                                                                            var user = await SignInManager.UserManager.FindByIdAsync(announcement.CreatedBy);
                                                                            <p class="inbox-item-author">@user</p>
                                                                        }

                                                                        <p class="inbox-item-text">@announcement.Message</p>
                                                                        <p class="inbox-item-date">@announcement.CreatedAt.ToShortDateString()</p>
                                                                    </div>
                                                                </a>
                                                            }
                                                        </ul>
                                                    }
                                                    else
                                                    {
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <h6 class="text-center">There are no announcements available at the moment. Welcome to the department of @Model?.Department.Name.</h6>
                                                            </div>
                                                        </div>
                                                    }                                                    
                                                </div>

                                            </div> <!-- end card -->
                                        </div>

                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card-box">
                                        <h4 class="header-title m-t-0 m-b-30">List of Courses available under the department of @Model?.Department.Name</h4>
                                        <hr />

                                        <div class="inbox-widget slimscroll-alt" style="min-height: 302px;">

                                            @if (Model.Courses != null && Model.Courses.Any())
                                            {
                                                <ul class="list-group list-group-flush">
                                                    @foreach (var course in Model.Courses.OrderBy(f => f.Name))
                                                    {
                                                        <p class="inbox-item-text">
                                                            <a href="/Courses/Details/@course.CourseId">
                                                                <div class="inbox-item">
                                                                    @course.Name (@course.Code)
                                                                </div>
                                                            </a>
                                                        </p>
                                                    }
                                                </ul>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h6 class="text-center">There are no courses available. Continue visiting @ViewData["Institution"]'s platform to get updates.</h6>
                                                    </div>
                                                </div>
                                            }
                                        </div>

                                    </div> <!-- end card -->
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    @*<div class="col-md-12">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="panel-primary">
                                    <div class="panel-heading">
                                        <h2 class="text-center">Announcement</h2>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">

                                            @if (Model.Announcement != null && Model.Announcement.Any())
                                            {
                                                <ul class="list-group list-group-flush">
                                                    @foreach (var announcement in Model.Announcement.OrderBy(a => a.CreatedAt.TimeOfDay))
                                                    {
                                                        <li class="list-group-item">
                                                            <div>
                                                                <h4>
                                                                    @announcement.Title<span class="pull-right">
                                                                        @if (SignInManager != null && SignInManager.IsSignedIn(this.User))
                                                                        {
                                                                            var user = await SignInManager.UserManager.FindByIdAsync(announcement.CreatedBy);
                                                                            <i>@user</i>
                                                                        }
                                                                    </span>
                                                                </h4>
                                                                <p class="col-md-12">@announcement.Message </p>
                                                                <a href="#" class="btn btn-primary">Read more</a> <i class="pull-right">@announcement.CreatedAt.ToShortDateString()</i>
                                                            </div>
                                                        </li>
                                                    }
                                                </ul>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="panel-primary">
                                    <div class="panel-heading">
                                        <h2 class="text-center">List of Course available under @Model?.Department.Name</h2>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">

                                            @if (Model.Course != null && Model.Course.Any())
                                            {
                                                <ul class="list-group list-group-flush">
                                                    @foreach (var course in Model.Course.OrderBy(d => d.Name))
                                                    {
                                                        <li class="list-group-item">
                                                            <a href="/Course/Details/@course.Id">@course.Name (@course.Code)</a>
                                                        </li>
                                                    }
                                                </ul>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
                </div>
           

        </div>
        <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        @{
            <i>@string.Format("{0} © SmartRegistry", DateTime.Now.Year)</i>
        }

    </footer>

</div>