@model IEnumerable<SmartRegistry.Web.Models.Department>

<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <h2 class="text-center"><b>Departments</b></h2>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <p>
                            <a class="btn btn-primary pull-right" asp-action="Create">Create new Department</a>
                        </p>

                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Name)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                @*<th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastUpdatedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastUpdatedAt)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IsDeleted)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeletedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeletedAt)
                            </th>*@
                                <th>
                                    @Html.DisplayNameFor(model => model.Faculty)
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    @*<td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastUpdatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeletedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeletedAt)
                                </td>*@
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Faculty.Code)
                                    </td>
                                    <td>
                                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>

        </div>
    <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        @{
            <i>@string.Format("{0} © SmartRegistry", DateTime.Now.Year)</i>
        }

    </footer>

</div>

<link rel="stylesheet" src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

@section Scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
}

