@using Microsoft.AspNetCore.Identity
@using SmartRegistry.Web.Models

@inject UserManager<IdentityUser> _UserManager
@inject RoleManager<IdentityRole> _RoleManager

@model IEnumerable<SmartRegistry.Web.Models.Subject>

@{
    ViewData["Title"] = "Index";
}



<div class="content-page">
    <!-- Start content -->
    <div class="content">
        <div class="container">

            <h2>Index</h2>

            <p>
                <a asp-action="Create" class="btn btn-primary">Create New</a>
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                                @Html.DisplayNameFor(model => model.LastUpdatedBy)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.LastUpdatedAt)
                        </th>
                        @*<th>
                                @Html.DisplayNameFor(model => model.IsDeleted)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeletedBy)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DeletedAt)
                            </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Course)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Lecturer)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.CreatedBy)
                                </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedAt)
                            </td>
                            <td>
                                    @Html.DisplayFor(modelItem => item.LastUpdatedBy)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.LastUpdatedAt)
                            </td>
                            @*<td>
                                    @Html.DisplayFor(modelItem => item.IsDeleted)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeletedBy)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.DeletedAt)
                                </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Course.Code)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Lecturer.FirstName)
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.SubjectId" class="btn btn-secondary">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.SubjectId" class="btn btn-info">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.SubjectId" class="btn btn-danger">Delete</a> |
                                <a asp-controller="Dashboard" asp-action="Index" asp-route-id="@item.SubjectId" class="btn btn-primary">Go to Dashboard</a> |
                                <a asp-controller="Subjects" asp-action="GetAllEnrolled" asp-route-id="@item.SubjectId" class="btn btn-primary">View students enrolled</a>
                                
                                @*<a asp-action="Create" asp-controller="" class="btn btn-primary">Enroll</a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
        <!-- container -->

    </div> <!-- content -->

    <footer class="footer text-right">
        @{
            <i>@string.Format("{0} © SmartRegistry", DateTime.Now.Year)</i>
        }

    </footer>

</div>
